* {
    /* outline: 1px dotted gray; */
    margin: 0;
  }
  
  main {
    /* background: gainsboro; */
  
  /*  make 2 columns  */
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    /* 1fr 1fr */
  }
  
  article {
    /* background: lightblue; */
    padding: 2em;
    
  /*  vert. center. horiz center.  */
    display: flex;
    flex-direction: column;
    Justify-content: center;
    align-items: center;
  }
  
  aside {
    /* background: lightcoral; */
  }
  
  aside img {
    /* fit image to container */
    display: block;
    max-width: 100%;
    
    /*  full height img. fit to container no stretching */
    height: 100vh;
    object-fit: cover;
  }


  


  