/* General Styles */
body {
  /* background: #88a881;   */
  /* background: #e7d9cc;   */
  background-image: url(/assets/old\ paper\ flowers.jpg);
  background-repeat: repeat; /* Options: repeat, repeat-x, repeat-y, no-repeat */
  background-size: cover; /* Options: auto, cover, contain, or specific dimensions like 100px 100px */
  background-position: center; /* Ensures the image is centered */
  
  /* Center the article */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  margin: 0; /* Remove default body margin */
}

article {
  background: rgb(231, 217, 204, 0.8); /* Add a background color with opacity */
  padding: 2em; /* Add padding for spacing inside the article */
  align-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for better visibility */
  border-radius: 40px; /* Optional: Add rounded corners */
  margin-left: 150px;
  margin-right: 150px;
}

/* Heading Styles */
h1 { 
  font-family: 'Dancing Script', cursive;
  font-size: 6em;
  text-align: center;
  color: #154318;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* Paragraph Styles */
p {
  font-family: 'Satoshi', sans-serif;
  font-size: 2em;
  font-weight: 400;
  color: #154318;
  text-align: center;
  /* padding: 10px; */
  /* margin-top: 0; Reduce top margin */
  /* margin-bottom: 10px; */
  /* text-align: center; Center text horizontally */
  /* margin: 0 auto; Center the paragraph element horizontally */
}

/* Article Styles */
/* article {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* Link Styles */
a {
  display: inline-block;
}

/* Navigation Styles */
nav {
  display: flex;
  gap: 1rem;
}

a:link, 
a:visited {
  background-color: rgba(131, 107, 89, 0.2);
  border: outset;
  border-radius: 4px;
  padding: 10px;
  color: rgb(152 126 126);
  min-width: 5rem;
  margin: 0.5em;
  text-align: center;
}

a:hover, 
a:active {
  background: rgb(134, 99, 88);
  border-style: 4px dashed;
  border-radius: 5px;
  color: rgb(56, 32, 32);
  transform: scale(1.25);
  transition: background 0.5s, transform 0.5s;
}

/* Aside Styles */
/* aside {
  min-height: 100vh;
}

main aside { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* Responsive Styles */
/* @media screen and (max-width: 700px) {
  main { 
      grid-template-columns: repeat(1, 1fr);
  }
  
  main img {
      display: block;
  }
  
  aside nav {
      flex-direction: column;
  }
} */